tiler/
auto-py-to-exe-master/
TwilioTextApp/credentials.py
WebMap/.ipynb_checkpoints/folium-checkpoint.ipynb
Twitter_Bot/confidential.py
Twitter_Bot/__pycache__/confidential.cpython-37.pyc
SudokuSolver/.ipynb_checkpoints/solvereasy-checkpoint.ipynb
SudokuSolver/__pycache__/solver.cpython-38.pyc
*.pyc
Scraping/Sudoku.com_AI_Solver.py
JarvisAI/credentials.json
JarvisAI/Voices
*.vscode/
*.ipynb_checkpoints
CertificateGenerator/input/test_data.csv
SudokuSolver/Visualizer.py
